
.footer__inner {
	display: flex;
	flex-direction: column;
	
}
.footer__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
	@include breakpoint($mobile-bp){
		flex-wrap: wrap;
	}
}

.header__title {
	font-style: normal;
	font-weight: bold;
	@include adaptiv-font(24,14);
	line-height: 1.33;
	letter-spacing: 0.1px;
	color: #252B42;
}
.header__subtitle {
	font-style: normal;
	font-weight: 500;
	@include adaptiv-font(14,10);
	line-height: 1.43;
	letter-spacing: 0.2px;
	color: #737373;
}
.header__btn {
	background: #FF7B47;
	border-radius: 5px;
	font-style: normal;
	font-weight: bold;
	@include adaptiv-font(14,10);
	line-height: 2;
	text-align: center;
	letter-spacing: 0.2px;
	color: #FFFFFF;
	padding: 15px 40px;
	transition: all 0.2s linear;
	&:hover{
		background: #d45726;
	}
	@include breakpoint($mobile-bp){
		margin-top: 10px;
		width: 100%;
	}
}

.footer__body {
	background-color: #252B42;
	padding: 50px 0;
	@include breakpoint($mobile-bp){
		padding: 20px;
	}
}
.body__wrapper{
	display: flex;
	justify-content: space-between;
	@include breakpoint($tablet-bp){
		flex-wrap: wrap;
	}
}
.body__row{
	@include breakpoint($tablet-bp){
		flex: 20%;
	}
	@include breakpoint($mobile-bp){
		flex: 50%;
	}
	
}
.body__title {
	display: block;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	@include adaptiv-font(16,14);
	line-height: 1.5;
	letter-spacing: 0.1px;
	color: #FFFFFF;
	margin-bottom: 20px;
	&:hover{
		text-decoration: underline;
	}
	@include breakpoint($mobile-bp){
		margin-top: 20px;
	}
}
.body__subtitle {
	display: block;
	font-style: normal;
	font-weight: 600;
	@include adaptiv-font(14,12);
	line-height: 1.71;
	letter-spacing: 0.2px;
	color: #FFFFFF;
	margin-bottom: 10px;
	&:hover{
		text-decoration: underline;
	}
}
.body__comunication {
	margin-bottom: 15px;

}
.communication__images {
	margin-right: 10px;
}
.comunication__tel {
	font-style: normal;
	font-weight: 600;
	@include adaptiv-font(14,12);
	line-height: 1.71;
	letter-spacing: 0.2px;
	color: #FFFFFF;
}
.footer__footer {
	padding: 15px 0;
}
.footer__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include breakpoint($mobile-bp){
		flex-direction: column;
		align-items: center;
	}
}

.footer__text{
	font-style: normal;
	font-weight: 600;
	@include adaptiv-font(14,10);
	line-height: 1.71;
	letter-spacing: 0.2px;
	color: #737373;
	@include breakpoint($mobile-bp){
		margin-bottom: 10px;
	}
}
.footer__icon{
	margin-right: 15px;
	
	img{
		width: 24px;
		height: 24px;
	}
}
.footer__icon img{
	&:hover{
		transform: scale(1.1);
	}
	
}
