

.why {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
	@include breakpoint($destop-bp){
		flex-wrap: wrap;
	}
}
.why__video {
	flex: 65%;
	margin-bottom: 15px;
	@include breakpoint($destop-bp){
		flex: 100%;
		text-align: center;

	}

}
iframe{
	width: 100%;
	max-width: 590px;
	height: 420px;
	@include breakpoint($mobile-bp){
		max-width: 470px;
		height: 270px;
	}
}
.why__content {
	flex: 35%;
	@include breakpoint($destop-bp){
		flex: 100%;
	
	}
}
.why__title {
	font-style: normal;
	font-weight: bold;
	@include adaptiv-font(40,24);
	line-height: 1.42;
	letter-spacing: 0.2px;
	color: #252B42;
	margin-bottom: 10px;
}
.why__subtitle {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	@include adaptiv-font(14,12);
	line-height: 1.43;
	letter-spacing: 0.2px;
	color: #737373;
	margin-bottom: 50px;
}
.why__wrapper {
	margin-bottom: 30px;

}
.why__inner {
	display: flex;
	align-items: center;
}
.why__inner_icon {
	margin-right: 20px;
}
.why__inner-title {
	font-style: normal;
	font-weight: bold;
	@include adaptiv-font(16,12);
	line-height: 1.5;
	letter-spacing: 0.1px;
	color: #252B42;
	margin-bottom: 5px;
}
.why__inner-text {
	font-style: normal;
	font-weight: 600;
	@include adaptiv-font(14,12);
	line-height: 1.7;
	letter-spacing: 0.2px;
	color: #737373;
	margin-left: 50px;

}
