<footer>
	<div class="footer__container">
		<div class="footer__inner">
			<div class="footer__header">
				<div class="header__inner">
					<div class="header__title">Consulting Agency For Your Business</div>
				<div class="header__subtitle">the quick fox jumps over the lazy dog</div>
				</div>
				<button type="submit" class="header__btn">Contact Us</button>
			</div>
		</div>
	</div>	
			<div class="footer__body">
				<div class="body__container">
					<div class="body__wrapper">
						<div class="body__row">
							<a href="#" class="body__title">Company Info</a>
							<a href="#" class="body__subtitle">About Us</a>
							<a href="#" class="body__subtitle">Carrier</a>
							<a href="#" class="body__subtitle">We are hiring</a>
							<a href="#" class="body__subtitle">Blog</a>
						</div>
						<div class="body__row">
							<a href="#" class="body__title">Legal</a>
							<a href="#" class="body__subtitle">About Us</a>
							<a href="#" class="body__subtitle">Carrier</a>
							<a href="#" class="body__subtitle">We are hiring</a>
							<a href="#" class="body__subtitle">Blog</a>
						</div>
						<div class="body__row">
							<a href="#" class="body__title">Features</a>
							<a href="#" class="body__subtitle">About Us</a>
							<a href="#" class="body__subtitle">Carrier</a>
							<a href="#" class="body__subtitle">We are hiring</a>
							<a href="#" class="body__subtitle">Blog</a>
						</div>
						<div class="body__row">
							<a href="#" class="body__title">Resources</a>
							<a href="#" class="body__subtitle">About Us</a>
							<a href="#" class="body__subtitle">Carrier</a>
							<a href="#" class="body__subtitle">We are hiring</a>
							<a href="#" class="body__subtitle">Blog</a>
						</div>
						<div class="body__row">
							<a href="#" class="body__title">Get In Touch</a>
							<div class="body__comunication">
								<img class="communication__images" src="/assets/images/phone.png" alt="icon">
								<a href="tel:(480) 555-0103" class="comunication__tel" type="tel">(480) 555-0103</a>
							</div>
							<div class="body__comunication">
								<img class="communication__images" src="/assets/images/map.png" alt="icon">
								<a class="comunication__tel" type="addres">4517 Washington Ave. </a>
							</div>
							<div class="body__comunication">
								<img class="communication__images" src="/assets/images/send.png" alt="icon">
								<a href="mailto:debra.holt@example.com" class="comunication__tel" type="e-mail">debra.holt@example.com</a>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="footer__footer">
				<div class="footer__container">
					<div class="footer__wrapper">
						<div class="footer__text">Made With Love By Figmaland All Right Reserved </div>
					<div class="Footer__socials">
						<a class="footer__icon" href="#"><img src="/assets/images/faceboock.png"></a>
						<a class="footer__icon" href="#"><img src="/assets/images/insta.png"></a>
						<a class="footer__icon" href="#"><img src="/assets/images/tweeter.png"></a>
						<a class="footer__icon" href="#"><img src="/assets/images/youtoobe.png"></a>
					</div>
				</div>	
			</div>
		</div>
</footer>

